/*整体*/
.simpleJsonTreeViewContainer_abc123 {
  font-size: 16px;
  display: flex;
  background-color: #282c34;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.simpleJsonTreeViewContainer_abc123 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*行数容器*/
.simpleJsonTreeViewContainer_abc123 .rowWrap {
  background-color: #282c34;
  padding: 0px 8px;
  border-right: 1px dashed #404754;
  color: rgb(153, 153, 153);
  margin-right: 5px;
  flex-shrink: 0;
}

.simpleJsonTreeViewContainer_abc123 .rowWrap .rowNum {
}

/*树容器*/
.simpleJsonTreeViewContainer_abc123 .treeWrap {
  width: 100%;
  position: relative;
  height: max-content;
}

.simpleJsonTreeViewContainer_abc123 .treeWrap.addPadding {
  padding-left: 20px;
}

/*错误信息容器*/
.simpleJsonTreeViewContainer_abc123 .errorWrap {
}

.simpleJsonTreeViewContainer_abc123 .errorWrap .errorMsg {
  color: #e72528;
  margin-bottom: 20px;
}
.simpleJsonTreeViewContainer_abc123 .errorWrap .errorStr {
  background-color: #f3f5f7;
}
.simpleJsonTreeViewContainer_abc123 .errorWrap .errorStr .errorPosition {
  background-color: #f1592a;
}

/*展开收起按钮*/
.simpleJsonTreeViewContainer_abc123 .expandBtn {
}

.simpleJsonTreeViewContainer_abc123 .expand::after,
.simpleJsonTreeViewContainer_abc123 .unExpand::after {
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border: 1px solid #999999;
  border-radius: 50%;
  text-align: center;
  margin-right: 2px;
}

.simpleJsonTreeViewContainer_abc123 .expand.inLeft::after,
.simpleJsonTreeViewContainer_abc123 .unExpand.inLeft::after {
  position: absolute;
  left: 0;
  transform: translateY(4px);
}

.simpleJsonTreeViewContainer_abc123 .expand::after {
  content: '-';
}

.simpleJsonTreeViewContainer_abc123 .unExpand::after {
  content: '+';
}

/*大括号*/
.simpleJsonTreeViewContainer_abc123 .brace {
  color: #999999;
}

/*对象整体*/
.simpleJsonTreeViewContainer_abc123 .object {
  padding-left: 20px;
}

.simpleJsonTreeViewContainer_abc123 .object.showLine {
  border-left: 1px solid #737984;
}

/*对象或数组的每一行*/
.simpleJsonTreeViewContainer_abc123 .row {
}
.simpleJsonTreeViewContainer_abc123 .row.hover {
  background-color: #181a1f;
}

/*对象的key*/
.simpleJsonTreeViewContainer_abc123 .key {
  color: #e06c75;
}

/*冒号*/
.simpleJsonTreeViewContainer_abc123 .colon {
  color: #999999;
  margin: 0 5px;
}

/*逗号*/
.simpleJsonTreeViewContainer_abc123 .comma {
  color: #999999;
}

/*中括号*/
.simpleJsonTreeViewContainer_abc123 .bracket {
  color: #999999;
}

/*省略号*/
.ellipsis {
  color: #999999;
}

/*数组整体*/
.simpleJsonTreeViewContainer_abc123 .array {
  padding-left: 20px;
}

.simpleJsonTreeViewContainer_abc123 .array.showLine {
  border-left: 1px solid #737984;
}

/*字符串*/
.simpleJsonTreeViewContainer_abc123 .string {
  color: #98c379;
}

/*数字*/
.simpleJsonTreeViewContainer_abc123 .number {
  color: #d19a66;
}

/*布尔值*/
.simpleJsonTreeViewContainer_abc123 .boolean {
  color: #56b6c2;
}

/*null*/
.simpleJsonTreeViewContainer_abc123 .null {
  color: #56b6c2;
}
